#theme-agency input#form-submit.button-primary,
.login-box input{

  color: #fff; !important;
  background: #be1e2d; !important;
  border: 0.2rem solid #be1e2d; !important;

  :hover {

    color: #000; !important;
    background: #fff; !important;
    border-color: #000; !important;
  }
}

