.button {
    &.sharer {
        font-size: 1.2rem;
        color: $white;
        line-height: 2;
        min-width: 6.5rem;
        padding: 0.9rem 2.2rem 0.6rem;
        margin: 0.5rem 1.0rem;
        border: none;

        i {
            color: $white !important;
            position: relative;
            top: 1px;
        }

        &:hover {
            color: $white;
            opacity: 0.9;
        }
    }

    &[data-sharer="facebook"] {
        background: #3b5998;

        &:hover {
            background: #324c82 !important;
        }
    }

    &[data-sharer="googleplus"] {
        background: #dd4c39;

        &:hover {
            background: #c14130 !important;
        }
    }

    &[data-sharer="twitter"] {
        background: #00aced;

        &:hover {
            background: #0095ce !important;
        }
    }

    &[data-sharer="pinterest"] {
        background: #cb2029;

        &:hover {
            background: #b11c24 !important;
        }
    }

    &.sharer.circle {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        line-height: 3.4;
        text-align: center;
        border-radius: 3.0rem;

        i {
            margin: 0;
        }
    }
}

.socialmedia-large-btn {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    a {
        font-size: 1.6rem;
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        padding: 10.0rem 4.0rem 10.0rem 5.5rem;
        width: 100%;
        height: 100%;
        position: relative;

        span {
            position: relative;
            left: 0;
            transition: opacity 0.2s ease-out, left 0.2s ease-out;
        }

        &:hover span {
            left: -1.8rem;
        }

        i {
            font-size: 2.0rem;
            color: $white;
            position: relative;
            top: 1px;
            right: 0.5rem;
            opacity: 0;
            transition: all 0.2s ease-out;
        }

        &:hover i {
            right: 0.3rem;
            opacity: 1;
        }
    }
}

.social-icons-block {
    margin-bottom: 2.3rem;

    ul {
        padding: 0;

        li {
            display: inline-block;
            margin-right: 1.0rem;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
                font-size: 1.3rem;
                color: $black;
                width: 2.5rem;
                height: 2.5rem;
                line-height: 1.7;
                background: $white;
                border-radius: 5.0rem;
                border: 1px solid rgba(255, 255, 255, 0.7);
                transition: background 0.2s, color 0.2s;

                &:hover {
                    background: none;
                    color: $white;
                }
            }
        }
    }

    &.small ul {
        margin-top: 2.0rem;

        li a {
            font-size: 1.8rem;
            width: auto;
            height: auto;
            line-height: normal;

            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

ul.social-icons-block2 {
    margin: 2.0rem 0 0 0 !important;

    li {
        display: inline-block;
        margin-right: 1.2rem;

        &:last-child {
            margin-right: 0;
        }

        a {
            font-size: 1.6rem;
        }
    }
}

/* ===[ Media Queries ]=== */
@include mediaquerie($medium4) {
    .button.sharer span {
        display: none;
    }
    .socialmedia-large-btn {
        display: block;
    }
}
