/* ===[ Margins Top ]=== */
.mt0 {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 0.5rem !important;
}

.mt10 {
    margin-top: 1.0rem !important;
}

.mt15 {
    margin-top: 1.5rem !important;
}

.mt20 {
    margin-top: 2.0rem !important;
}

.mt25 {
    margin-top: 2.5rem !important;
}

.mt30 {
    margin-top: 3.0rem !important;
}

.mt32 {
    margin-top: 3.2rem !important;
}

.mt35 {
    margin-top: 3.5rem !important;
}

.mt38 {
    margin-top: 3.8rem !important;
}

.mt40 {
    margin-top: 4.0rem !important;
}

.mt45 {
    margin-top: 4.5rem !important;
}

.mt50 {
    margin-top: 5.0rem !important;
}

.mt55 {
    margin-top: 5.5rem !important;
}

.mt60 {
    margin-top: 6.0rem !important;
}

.mt65 {
    margin-top: 6.5rem !important;
}

.mt70 {
    margin-top: 7.0rem !important;
}

.mt75 {
    margin-top: 7.5rem !important;
}

.mt80 {
    margin-top: 8.0rem !important;
}

.mt85 {
    margin-top: 8.5rem !important;
}

.mt90 {
    margin-top: 9.0rem !important;
}

.mt95 {
    margin-top: 9.5rem !important;
}

.mt100 {
    margin-top: 10.0rem !important;
}

.mt105 {
    margin-top: 10.5rem !important;
}

.mt110 {
    margin-top: 11.0rem !important;
}

.mt115 {
    margin-top: 11.5rem !important;
}

.mt120 {
    margin-top: 12.0rem !important;
}

/* ===[ Margins Bottom ]=== */
.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 0.5rem !important;
}

.mb10 {
    margin-bottom: 1.0rem !important;
}

.mb15 {
    margin-bottom: 1.5rem !important;
}

.mb20 {
    margin-bottom: 2.0rem !important;
}

.mb25 {
    margin-bottom: 2.5rem !important;
}

.mb30 {
    margin-bottom: 3.0rem !important;
}

.mb35 {
    margin-bottom: 3.5rem !important;
}

.mb40 {
    margin-bottom: 4.0rem !important;
}

.mb45 {
    margin-bottom: 4.5rem !important;
}

.mb50 {
    margin-bottom: 5.0rem !important;
}

.mb55 {
    margin-bottom: 5.5rem !important;
}

.mb60 {
    margin-bottom: 6.0rem !important;
}

.mb65 {
    margin-bottom: 6.5rem !important;
}

.mb70 {
    margin-bottom: 7.0rem !important;
}

.mb75 {
    margin-bottom: 7.5rem !important;
}

.mb80 {
    margin-bottom: 8.0rem !important;
}

.mb85 {
    margin-bottom: 8.5rem !important;
}

.mb90 {
    margin-bottom: 9.0rem !important;
}

.mb95 {
    margin-bottom: 9.5rem !important;
}

.mb100 {
    margin-bottom: 10.0rem !important;
}

.mb105 {
    margin-bottom: 10.5rem !important;
}

.mb110 {
    margin-bottom: 11.0rem !important;
}

.mb120 {
    margin-bottom: 12.0rem !important;
}

/* ===[ Margins Right ]=== */
.mr0 {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 0.5rem !important;
}

.mr10 {
    margin-right: 1.0rem !important;
}

.mr15 {
    margin-right: 1.5rem !important;
}

.mr20 {
    margin-right: 2.0rem !important;
}

.mr25 {
    margin-right: 2.5rem !important;
}

.mr30 {
    margin-right: 3.0rem !important;
}

.mr35 {
    margin-right: 3.5rem !important;
}

.mr40 {
    margin-right: 4.0rem !important;
}

/* ===[ Margins Left ]=== */
.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 0.5rem !important;
}

.ml10 {
    margin-left: 1.0rem !important;
}

.ml15 {
    margin-left: 1.5rem !important;
}

.ml20 {
    margin-left: 2.0rem !important;
}

.ml25 {
    margin-left: 2.5rem !important;
}

.ml30 {
    margin-left: 3.0rem !important;
}

.ml35 {
    margin-left: 3.5rem !important;
}

.ml40 {
    margin-left: 4.0rem !important;
}

/* ===[ No Padding ]=== */
.p0 {
    padding: 0 !important;
}

/* ===[ Row Spacing ]=== */
.row-spacing-mb30 {
    margin-bottom: 3.0rem;
    width: 100%;
}

.row-spacing-mb60 {
    margin-bottom: 6.0rem;
    width: 100%;
}

/* ===[ Paddings Top ]=== */
.pt0 {
    padding-top: 0 !important;
}

.pt5 {
    padding-top: 0.5rem !important;
}

.pt10 {
    padding-top: 1.0rem !important;
}

.pt15 {
    padding-top: 1.5rem !important;
}

.pt20 {
    padding-top: 2.0rem !important;
}

.pt25 {
    padding-top: 2.5rem !important;
}

.pt30 {
    padding-top: 3.0rem !important;
}

.pt35 {
    padding-top: 3.5rem !important;
}

.pt40 {
    padding-top: 4.0rem !important;
}

.pt45 {
    padding-top: 4.5rem !important;
}

.pt50 {
    padding-top: 5.0rem !important;
}

.pt55 {
    padding-top: 5.5rem !important;
}

.pt60 {
    padding-top: 6.0rem !important;
}

.pt65 {
    padding-top: 6.5rem !important;
}

.pt70 {
    padding-top: 7.0rem !important;
}

.pt75 {
    padding-top: 7.5rem !important;
}

.pt80 {
    padding-top: 8.0rem !important;
}

.pt85 {
    padding-top: 8.5rem !important;
}

.pt90 {
    padding-top: 9.0rem !important;
}

.pt95 {
    padding-top: 9.5rem !important;
}

.pt100 {
    padding-top: 10.0rem !important;
}

.pt105 {
    padding-top: 10.5rem !important;
}

.pt110 {
    padding-top: 11.0rem !important;
}

.pt120 {
    padding-top: 13.0rem !important;
}

.pt150 {
    padding-top: 15.0rem !important;
}

/* ===[ Paddings Bottom ]=== */
.pb0 {
    padding-bottom: 0 !important;
}

.pb5 {
    padding-bottom: 0.5rem !important;
}

.pb10 {
    padding-bottom: 1.0rem !important;
}

.pb15 {
    padding-bottom: 1.5rem !important;
}

.pb20 {
    padding-bottom: 2.0rem !important;
}

.pb25 {
    padding-bottom: 2.5rem !important;
}

.pb30 {
    padding-bottom: 3.0rem !important;
}

.pb35 {
    padding-bottom: 3.5rem !important;
}

.pb40 {
    padding-bottom: 4.0rem !important;
}

.pb45 {
    padding-bottom: 4.5rem !important;
}

.pb50 {
    padding-bottom: 5.0rem !important;
}

.pb55 {
    padding-bottom: 5.5rem !important;
}

.pb60 {
    padding-bottom: 6.0rem !important;
}

.pb65 {
    padding-bottom: 6.5rem !important;
}

.pb70 {
    padding-bottom: 7.0rem !important;
}

.pb75 {
    padding-bottom: 7.5rem !important;
}

.pb80 {
    padding-bottom: 8.0rem !important;
}

.pb85 {
    padding-bottom: 8.5rem !important;
}

.pb90 {
    padding-bottom: 9.0rem !important;
}

.pb95 {
    padding-bottom: 9.5rem !important;
}

.pb100 {
    padding-bottom: 10.0rem !important;
}

.pb105 {
    padding-bottom: 10.5rem !important;
}

.pb110 {
    padding-bottom: 11.0rem !important;
}

.pb115 {
    padding-bottom: 11.5rem !important;
}

.pb120 {
    padding-bottom: 12.0rem !important;
}

.pb200 {
    padding-bottom: 20.0rem !important;
}

/* ===[ Paddings Left ]=== */
.pl0 {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 0.5rem !important;
}

.pl10 {
    padding-left: 1.0rem !important;
}

.pl15 {
    padding-left: 1.5rem !important;
}

.pl20 {
    padding-left: 2.0rem !important;
}

.pl25 {
    padding-left: 2.5rem !important;
}

.pl30 {
    padding-left: 3.0rem !important;
}

.pl60 {
    padding-left: 6.0rem !important;
}

.pl90 {
    padding-left: 9.0rem !important;
}

.pl130 {
    padding-left: 13.0rem !important;
}

/* ===[ Paddings Right ]=== */
.pr0 {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 0.5rem !important;
}

.pr10 {
    padding-right: 1.0rem !important;
}

.pr15 {
    padding-right: 1.5rem !important;
}

.pr20 {
    padding-right: 2.0rem !important;
}

.pr25 {
    padding-right: 2.5rem !important;
}

.pr30 {
    padding-right: 3.0rem !important;
}

.pr60 {
    padding-right: 6.0rem !important;
}

.pr90 {
    padding-right: 9.0rem !important;
}

.pr130 {
    padding-right: 13.0rem !important;
}

/* ===[ Divider ]=== */
.divider {
    display: block;
    width: 100%;
    margin: 5.0rem auto 4.8rem;
    border-top: 1px solid #efefef;
}

/* ===[ Image Positioning ]=== */
.image-center {
    margin: 0 auto;
}

.image-container {
    img {
        display: block;
        margin: 0 auto;
    }
    + div {
        margin-top: 8.0rem;
    }
}

.v-top,
.v-middle,
.v-bottom {
    vertical-align: middle;
    display: table-cell;
    float: none !important;
    position: relative;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

.no-v-middle .v-middle {
    display: block;
    position: initial;
}

.large-6.v-middle,
.medium-6.v-middle {
    width: 50vw;
}

@include foundation-float-classes;

.overlap {
    margin-top: -10.0rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    z-index: 2;

    .row {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .fullwidth {
        padding: 0 1.5rem !important;
        max-width: 120rem !important;
    }
}

section {
    &.overlap.pb200.small-pb50 + section.overlap {
        margin-top: -20.0rem;
    }
    &.clients-grid.overlap {
        padding: 10.0rem 6.0rem;
    }
    &.overlap {
        + section {
            &.overlap {
                margin-top: 0;
            }
            &.dark-bg, &.light-bg, &.image, &.parallax {
                margin-top: 10.0rem;
            }
        }
    }
    &.split-section.overlap div {
        background-color: $white;
    }
}

/* ===[ Heights ]=== */
.medium-height {
    height: 80vh !important;
}

.full-height {
    height: 100vh !important;
    padding-top: 20.0rem;
    padding-bottom: 20.0rem;
}

.mh0 {
    min-height: 0;
}

/* ===[ Media Queries ]=== */
@include mediaquerie($large) {
    .overlap {
        margin-top: -70px;
    }
}
@include mediaquerie($medium10) {
    .row-spacing-mb20 .columns {
        margin-bottom: 20px;
    }
    .row-spacing-mb30 .columns {
        margin-bottom: 30px;
    }
}
@include mediaquerie($medium7) {
    .sticked-boxes {
        h1, h2, h3 {
            font-size: 25px;
        }
    }
    .overlap {
        margin-top: -100px;
     }
}
@include mediaquerie($medium5) {
    .contentbox-content {
        width: 100%;
    }
}
@include mediaquerie($medium4) {
    .small-mt0 {
        margin-top: 0 !important;
    }

    .small-mt5 {
        margin-top: 5px !important;
    }

    .small-mt10 {
        margin-top: 10px !important;
    }

    .small-mt15 {
        margin-top: 15px !important;
    }

    .small-mt20 {
        margin-top: 20px !important;
    }

    .small-mt25 {
        margin-top: 25px !important;
    }

    .small-mt30 {
        margin-top: 30px !important;
    }

    .small-mt35 {
        margin-top: 35px !important;
    }

    .small-mt40 {
        margin-top: 40px !important;
    }

    .small-mt45 {
        margin-top: 45px !important;
    }

    .small-mt50 {
        margin-top: 50px !important;
    }

    .small-mt55 {
        margin-top: 55px !important;
    }

    .small-mt60 {
        margin-top: 60px !important;
    }

    .small-mb0 {
        margin-bottom: 0 !important;
    }

    .small-mb5 {
        margin-bottom: 5px !important;
    }

    .small-mb10 {
        margin-bottom: 10px !important;
    }

    .small-mb15 {
        margin-bottom: 15px !important;
    }

    .small-mb20 {
        margin-bottom: 20px !important;
    }

    .small-mb25 {
        margin-bottom: 25px !important;
    }

    .small-mb30 {
        margin-bottom: 30px !important;
    }

    .small-mb35 {
        margin-bottom: 35px !important;
    }

    .small-mb40 {
        margin-bottom: 40px !important;
    }

    .small-mb45 {
        margin-bottom: 45px !important;
    }

    .small-mb50 {
        margin-bottom: 50px !important;
    }

    .small-mb55 {
        margin-bottom: 55px !important;
    }

    .small-mb60 {
        margin-bottom: 60px !important;
    }

    .small-ml0 {
        margin-left: 0 !important;
    }

    .small-ml5 {
        margin-left: 5px !important;
    }

    .small-ml10 {
        margin-left: 10px !important;
    }

    .small-ml15 {
        margin-left: 15px !important;
    }

    .small-ml20 {
        margin-left: 20px !important;
    }

    .small-ml25 {
        margin-left: 25px !important;
    }

    .small-ml30 {
        margin-left: 30px !important;
    }

    .small-mr0 {
        margin-right: 0 !important;
    }

    .small-mr5 {
        margin-right: 5px !important;
    }

    .small-mr10 {
        margin-right: 10px !important;
    }

    .small-mr15 {
        margin-right: 15px !important;
    }

    .small-mr20 {
        margin-right: 20px !important;
    }

    .small-mr25 {
        margin-right: 25px !important;
    }

    .small-mr30 {
        margin-right: 30px !important;
    }

    .small-pt0 {
        padding-top: 0 !important;
    }

    .small-pt5 {
        padding-top: 5px !important;
    }

    .small-pt10 {
        padding-top: 10px !important;
    }

    .small-pt15 {
        padding-top: 15px !important;
    }

    .small-pt20 {
        padding-top: 20px !important;
    }

    .small-pt25 {
        padding-top: 0 !important;
    }

    .small-pt30 {
        padding-top: 30px !important;
    }

    .small-pt40 {
        padding-top: 40px !important;
    }

    .small-pt50 {
        padding-top: 50px !important;
    }

    .small-pb0 {
        padding-bottom: 0 !important;
    }

    .small-pb5 {
        padding-bottom: 5px !important;
    }

    .small-pb10 {
        padding-bottom: 10px !important;
    }

    .small-pb15 {
        padding-bottom: 15px !important;
    }

    .small-pb20 {
        padding-bottom: 20px !important;
    }

    .small-pb25 {
        padding-bottom: 25px !important;
    }

    .small-pb30 {
        padding-bottom: 30px !important;
    }

    .small-pb40 {
        padding-bottom: 40px !important;
    }

    .small-pb50 {
        padding-bottom: 50px !important;
    }

    .small-pb120 {
        padding-bottom: 120px !important;
    }

    .small-pl0 {
        padding-left: 0 !important;
    }

    .small-pl5 {
        padding-left: 5px !important;
    }

    .small-pl10 {
        padding-left: 10px !important;
    }

    .small-pl15 {
        padding-left: 15px !important;
    }

    .small-pl20 {
        padding-left: 20px !important;
    }

    .small-pr0 {
        padding-right: 0 !important;
    }

    .small-pr5 {
        padding-right: 5px !important;
    }

    .small-pr10 {
        padding-right: 10px !important;
    }

    .small-pr15 {
        padding-right: 15px !important;
    }

    .small-pr20 {
        padding-right: 20px !important;
    }

    .small-pr25 {
        padding-right: 25px !important;
    }

    .split-section.overlap {
        margin-top: -80px;
        width: 100%;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    section {
        &.overlap {
            margin-top: -90px;
            width: 100%;

            .row.fullwidth {
                margin: 0
            }
        }

        &.p0.overlap + section {
            margin-top: 0;
        }
        &.medium-height.pb200.small-pb130 {
            padding-bottom: 50px;
        }
        &.full-height.pb200.small-pb130 {
            padding-bottom: 50px;
        }
        .row-spacing-mb60 {
            margin-bottom: 30px;

            .columns {
                margin-bottom: 30px;
            }
        }

        .row {
            &.row-spacing-mb30 .columns:last-child,
            &.row-spacing-mb60 .columns:last-child {
                margin-bottom: 0;
            }
        }

        .sticked-boxes .row {
            &.row-spacing-mb30 .columns,
            &.row-spacing-mb60 .columns {
                margin-bottom: 0;
            }
        }
    }
    .sticked-boxes {
        .row.row-spacing-mb20 .columns,
        .row.row-spacing-mb30 .columns,
        .row.row-spacing-mb60 .columns {
            margin-bottom: 0;
        }
    }
}
@include mediaquerie($medium) {
    .row.row-spacing-mb30 .columns {
        margin-bottom: 30px;
    }
}
